:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #F4F4F4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #747bff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #f9f9f9;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Header */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #1a1a1a;
}

header .inner {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 1296px;
  justify-content: space-between;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header ul li {
  margin: 0 1rem;
}

header ul a {
  color: #fff;
  font-weight: 400;
}

header ul a.active {
  font-weight: 600;
  text-decoration: underline;
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader span {
  display: block;
  height: 50px;
  width: 50px;
  animation: animate 0.5s linear infinite;
  border-right: 1px solid;
  border-radius: 50%;
}

@keyframes animate {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}